{% load custom_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en" style="height: 100%;">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'bundles/main.css' %}">
        <title>{% block title %}Open States{% endblock %}</title>
        {% block link %}{% endblock %}

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png?v=20190106' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png?v=20190106' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png?v=20190106' %}">
        <link rel="manifest" href="{% static 'images/favicon/site.webmanifest?v=20190106' %}">
        <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg?v=20190106' %}" color="#233240">
        <link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico?v=20190106' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-config" content="{% static 'images/favicon/browserconfig.xml?v=20190106' %}">
        <meta name="theme-color" content="#ffffff">

        {% block styles %}
        {% endblock %}
    </head>

    <body style="display: flex; flex-direction: column; min-height: 100%; margin: 0;">
        {% header %}

        <div class="grid-container" style="flex: 1; width: 100%;">
            <div class="grid-x grid-padding-x" style="width: 100%;">
                <div class="cell medium-12 mt1 mb1">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        {% include "./footer.html" %}
        <script src="{% static "bundles/main.js" %}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
