<footer class="footer">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">

            <div class="cell medium-4">
                <h2 class="heading--xsmall">About</h2>
                <ul class="no-bullet">
                    <li><a href="{% url 'find_your_legislator' state|default:'us' %}">Find Your Legislators</a></li>
                    <li><a href="{% url 'state_search' state|default:'us' %}">Track State Bills</a></li>
                    <li><a href="/about/">About Open States</a></li>
                    <li><a href="/tos/">Terms of Use &amp; Privacy</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>
