<section>
    <div class="button-group">

        {% if page.number > 2 %}
            <a href="?{% if base_querystring %}{{ base_querystring }}&{% endif %}page=1" class="button">First</a>
        {% endif %}
        
        {% if page.has_previous %}
            <a href="?{% if base_querystring %}{{ base_querystring }}&{% endif %}page={{ page.previous_page_number }}" class="button">&laquo; Back</a>
        {% endif %}
        
        {% if page.has_next %}
            <a href="?{% if base_querystring %}{{ base_querystring }}&{% endif %}page={{ page.next_page_number }}" class="button">Next &raquo;</a>
        {% endif %}
    </div>
</section>
