{% extends "public/components/base.html" %}

{% block title %}About Open States{% endblock %}

{% block content %}
<section class="section">
<div class="flatpage">
<h1 class="heading--large">About Open States (to be updated)</h1>

<section>
<p>Open States strives to improve civic engagement by providing data and tools to help you understand
    the legislative process that creates public policy. Open States is the leading source of standardized
    legislative data across state borders in the United States, since the project's founding in 2009.
    We aim to serve members of the public, activist groups, journalists, and researchers with better
    data on policy-making, and to provide tools to reduce barriers to democratic participation.
</p>

<p>
  Open States aggregates legislative information from all 50 states, Washington, D.C., Puerto Rico, and
  US Congress. This information is then standardized, cleaned, and published to the public via
  OpenStates.org, a powerful API, and bulk downloads.  OpenStates.org enables individuals to
  find out who represents them, look up information on an important
  bill that's been in the news, discover how their representatives are voting, or just stay current with
  what is happening in their state.  Additionally, our API and bulk downloads are used every
  month by advocacy organizations, journalists, researchers, and many others.
</p>
</section>

<div class="flatpage-twocol">

<div> <!-- group team and notable users -->
<section>

<section>
    <h2 class="heading--medium">History</h2>
    <p>

        From 2016 - 2021 Open States was an independently-run project. Thank you to the people
        who worked hard to keep Open States available free of charge during that time, including:

    </p>
    <ul>
        <li>James Turk</li>
        <li>Tim Showers</li>
        <li>Dan Schneiderman</li>
        <li>Olivia Cheng</li>
        <li>Miles Watkins</li>
        <li>Rachel Shorey</li>
        <li>Paul Tagliamonte</li>
        <li>Thom Neale</li>
        <li>Michael Stephens</li>
    </ul>

    <p>From 2009-2016, Open States was a project of the Sunlight Foundation.
</section>

<section>
    <h2 class="heading--medium">Notable Users</h2>

    <p>Notable users of Open States data include:</p>
    <ul>
        <li>ACLU</li>
        <li>Common Cause</li>
        <li>Campaign Zero</li>
        <li>Resistbot</li>
        <li>NPR's StateImpact</li>
        <li>Chicago Tribune</li>
        <li>MinnPost</li>
        <li>UChicago's Data Science for Social Good</li>
    </ul>

    <p>
        If you have a use of Open States you'd like us to know about, contact us.
    </p>
</section>


</div>

<div>
<section>
    <h2 class="heading--medium">Funding History - prior to 2022</h2>

    <h3 class="heading--small">Partner Organizations</h3>
    <div class="partner-org">
      <img src="/static/images/logos/rji.png" alt="RJI logo">
      <p>Donald W. Reynolds Journalism Institute generously supported us rebuilding our full text search and notification features.
    </div>

    <h3 class="heading--small">Other Funding</h3>
    <p>Prior to November 2016 Open States was a project of the Sunlight Foundation from 2009-2016.  Thanks to Sunlight Foundation and all of the generous donors that supported Open States.  A special thanks to Rita Allen Foundation, Minnesota Historical Society, Robert R. McCormick Foundation, and Google.org, which all supported Open States directly.</p>

    <p>Open States has also previously received corporate contributions from Google (via Google Summer of Code), WeWork, Amazon Web Services, and free plans from NewRelic and GitHub.</p>
</section>
</div>

</div>

</div>
</section>
{% endblock %}
