{% extends "public/components/base.html" %}

{% block title %}About This Site{% endblock %}

{% block content %}
<section class="section">
<div class="flatpage">
<h1 class="heading--large">About This Site</h1>
<p>
    This is a version of the Open States legislative information platform that has been specifically 
    designed to meet specifications for prison and jail tablets. Using the site, individuals can find 
    out who represents them, follow bills about topics they care about, read the text of pending and 
    passed bills, and access related bill documents, votes history, and committee data. It is our hope 
    that this information can support the extraordinary (but at the same time, everyday and ordinary)
    civic engagement and policy building taking place within facilities and make it easier to participate 
    in the legislative process so that our democracy can be truly accessible to all. 

</p>

<p>
    Code forked from the openstates.org repository of the Open States project. Major thanks to the Open States 
    developers and maintainers for their support in making this endeavor possible, as well as to the contributors 
    of all the libraries this site depends on.
</p>

<h2 class="heading--medium">About Open States</h2>

<p>Open States strives to improve civic engagement by providing data and tools to help people understand
    the legislative process that creates public policy. Open States is the leading source of standardized
    legislative data across state borders in the United States, since the project's founding in 2009.
    The project aims to serve members of the public, community groups, journalists, and researchers with better
    data on policy-making, and to provide tools to reduce barriers to democratic participation.
</p>

</div>
</section>
{% endblock %}
