// Tables


thead {
    @extend .heading--xsmall;
    border-bottom: 2px solid $color-secondary;

}

tbody {
    background-color: transparent;
}

tbody tr {
    border-bottom: 1px solid $color-gray;
    background-color: transparent;
}

tbody th {
    text-align: left;
}

table {
    .label {
        margin-bottom: 0;
    }
}

tr.row--align-top {
    vertical-align: top;
}

tr.bill-unread-action {
    font-weight: bold;
}

tr.row-with-buttons {
  display: grid;
  grid-template-columns: 9fr 2fr;
}

.td-link, .td-link:hover, .td-link:visited {
  color: inherit;
}

.td-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
}

.td-truncate-short {
    -webkit-line-clamp: 3;
    max-height: 4.5em;
}

.td-truncate-long {
    -webkit-line-clamp: 11;
    max-height: 16.5em;
}
