{% extends "../components/base.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}{{ document_type_formatted }} for {{ document.bill.identifier }} - Open States{% endblock %}

{% block scripts %}
    <script>
        window.PDF_URL = '/development-pdf-proxy/{{ document_link.url }}';
    </script>

    {% if viewer_mode == 'pdf' %}
        <script src="{% static 'bundles/pdf_viewer.js' %}"></script>
    {% else %}
        <script src="{% static 'bundles/image_viewer.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}
<section class="section">
    <div style="width: 100%;">
        <div class="flex-container align-justify">
            <h1 class="heading--large document-header">
                {{ document_type_formatted }} for {{ document.bill.identifier }} - {{ document.note }}
            </h1>
            <div class="back-to-bill-button">
                <a class = "button" href="{% canonical_url document.bill %}" style="width: 120px;">Back to Bill</a>
            </div>
        </div>
    </div>

    <div id="document-wrapper" class="document-wrapper mb1">
        <div id="pdf-viewer-div">
            <iframe id="pdf-viewer" class="pdf-viewer" title="Bill Document PDF"></iframe>
        </div>

        <div id="image-viewer" class="image-viewer">  <!-- image fallback -->
            <div id="toolbar">
                <button id="zoom-out" class="tool-button">&#8722;</button>
                <span id="zoom-level">75%</span>
                <button id="zoom-in"  class="tool-button">&#43;</button>
            </div>

            <div id="viewer-scroll">
                <div id="initial-loading">
                    <img src="/static/pdfjs/web/images/loading.svg" class="loading-spinner" alt="loading spinner"/>
                    <span>Loading document...</span>
                </div>
                <div id="pages-wrapper" style="display:none;"></div>
            </div>
        </div>

        <div id="error-state" class="error-state">
            <h2>Unable to Load Document</h2>
            <p id="error-message"></p>
        </div>
    </div>

    {% sources state document_link.url %}

</section>

{% endblock %}
