{% extends "../components/base.html" %}
{% load custom_tags %}

{% block title %}{{ state|state_name }} Bills - Open States{% endblock %}
{% block og_title %}{{ state|state_name }} Bills - Open States{% endblock %}
{% block description %}Search and browse all bills introduced within {{ state|state_name }}.{% endblock %}

{% block content %}
<section class="section">
    <h1 class="heading--large">{{ state|state_name }} Bills</h1>
    <h2 class="heading--small">{{ search_summary }} </h2>

    <div class="grid-x grid-margin-x">
        <div class="cell medium-9">

            <table class="hover">
                <thead>
                    <tr>
                        <th>Bill Title</th>
                        <th width="100">
                          <a href="{{ first_action_sort_url }}">
                            Introduced{{ first_action_arrow }}
                          </a>
                        </th>
                        <th width="250">
                          <a href="{{ latest_action_sort_url }}">
                            Latest Action{{ latest_action_arrow }}
                          </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in bills %}
                        <tr class="row--align-top">
                            <td>
                                <a href="{% canonical_url bill %}">
                                <strong>{{ bill.identifier }}</strong>
                                </a>
                                <a href="{% canonical_url bill %}" class="td-link">
                                  <span class="u-color--gray">({{ bill.legislative_session.name }})</span>
                                  <br>
                                  <span>{{ bill.title|titlecase_caps }}</span>
                                </a>
                            </td>
                            <td>{{ bill.first_action_date|fdate:"%b %d %Y" }}</td>
                            <td>
                                <span>{{ bill.latest_action_description|title }}</span>
                                <br>
                                <span class="u-color--gray">{{ bill.latest_action_date|fdate:"%b %d %Y" }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p>Showing {{ bills.start_index }} to {{ bills.end_index }} of {{ bills.paginator.count }} bills</p>
            {% pagination bills request.GET %}</p>
        </div>
        <div class="cell medium-3">
            <div class="sidebar">
                <h2 class="heading--medium">Filter Bills</h2>
                <form onsubmit="cleanUrl(this)">  <!-- function defined in search-options-form.html -->
                    {% include 'public/components/search-options-form.html' %}
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
