{% extends "../components/base.html" %}
{% load custom_tags %}

{% block title %}{{ document.bill.identifier }} - {{ state|state_name }} {{ bill.from_organization.name }} ({{bill.legislative_session.identifier }}) - Open States{% endblock %}
{% block og_title %}{{ bill.identifier }} - {{ state|state_name }} {{ bill.from_organization.name }} ({{bill.legislative_session.identifier }}) - Open States{% endblock %}
{% block description %}Details on {{ state|state_name }} {{ bill.identifier}} ({{ bill.legislative_session }}) - {{ bill.title|titlecase_caps }}{% endblock %}


{% block content %}
<section class="section">
    <div style="width: 100%;">
        <div class="flex-container align-justify">
            <h3 class="overview__heading">
                {% if document_type == "bill_text" %}
                    Bill Text for {{ document.bill.identifier }}
                {% else %}
                    Related Document for {{ document.bill.identifier }}
                {% endif %} - {{ document.note }}
            </h3>
            <div style="margin-left: auto;">
                <a class="button" href="{% canonical_url document.bill %}">Back to Bill</a>
            </div>
        </div>
    </div>

    {% sources state document_link.url %}

</section>

{% endblock %}
