{% extends "../components/base.html" %}
{% load custom_tags %}

{% block title %} Bill Dashboard - Open States {% endblock %}

{% block content %}
<section class="section">
    <h1 class="heading--large">Bills I'm Following</h1>

    {% if not tracked_bills %}

    <h2 class="heading--small mt3">
      You aren't currently following any bills. Search for a bill to add today!
    </h2>

    <form method="POST" action="{% url 'state_search' state|default:'us' %}">
      {% csrf_token %}
      <div class="input-group">
          <label class="show-for-sr" for="query">Search</label>
          <input class="input-group-field" type="search" placeholder="SB 38, Incarceration, Veterans, Public Finance" name="query" id="query">
          <div class="input-group-button">
              <button type="submit" class="button button--secondary">
                Search
              </button>
          </div>
      </div>
      <p>Click on the bill you wish to follow on the search page, then click "Follow Bill."</p>
    </form>

    {% else %}

    <div class="grid-x grid-margin-x">
        <div class="cell medium-12">

            <table class="hover">
                <thead>
                    <tr>
                        <th width="200">
                          <a href="{{ bill_id_sort_url }}">
                            Bill ID{{ bill_id_arrow }}
                          </a>
                        </th>
                        <th width="250">
                          <a href="{{ bill_title_sort_url }}">
                            Bill Title{{ bill_title_arrow }}
                          </a>
                        </th>
                        <th class="hide-mobile" width="250">
                          <a href="{{ bill_status_sort_url }}">
                            Bill Status{{ bill_status_arrow }}
                          </a>
                        </th>
                        <th class="hide-mobile" width="150">
                          <a href="{{ session_sort_url }}">
                            Session{{ session_arrow }}
                          </a>
                        </th>
                        <th width="150">
                          <a href="{{ first_action_sort_url }}">
                            Introduced{{ first_action_arrow }}
                          </a>
                        </th>
                        <th width="150">
                          <a href="{{ latest_action_sort_url }}">
                            Latest Action{{ latest_action_arrow }}
                          </a>
                        </th>
                </thead>
                <tbody>
                    {% for bill in tracked_bills %}
                        <tr class="row--align-top row--clickable {% if bill.has_unread_action %} bill-unread-action {% endif %}">
                            <td>
                                <a href="{% canonical_url bill %}" class="row-link">
                                <strong class="u-color--primary">{{ bill.identifier_with_state }}</strong>
                                </a>
                            </td>
                            <td>
                                <div class="td-truncate td-truncate-short">
                                    {{ bill.title|titlecase_caps }}
                                </div>
                            </td>
                            <td class="hide-mobile">
                                <div class="td-truncate td-truncate-short">
                                    {{ bill.status }}
                                </div>
                            </td>
                            <td class="hide-mobile">
                                <div class="td-truncate td-truncate-short">
                                    {{ bill.legislative_session.name }}
                                </div>
                            </td>
                            <td>{{ bill.first_action_date|fdate:"%b %d %Y" }}</td>
                            <td>{{ bill.latest_action_date|fdate:"%b %d %Y" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% pagination tracked_bills request.GET %}
        </div>
    </div>

    {% endif %}

</section>
{% endblock %}
