{% extends "../components/base.html" %}
{% load custom_tags %}

{% block title %}{{ document_type_formatted }} for {{ document.bill.identifier }} - Open States{% endblock %}

{% block content %}
<section class="section">
    <div style="width: 100%;">
        <div class="flex-container align-justify">
            <h1 class="heading--large document-header">
                {{ document_type_formatted }} for {{ document.bill.identifier }} - {{ document.note }}
            </h1>
            <div class="back-to-bill-button">
                <a class = "button" href="{% canonical_url document.bill %}" style="width: 120px;">Back to Bill</a>
            </div>
        </div>
    </div>

    <div>
        <iframe 
            src="/static/pdfjs/web/viewer.html?file=/development-pdf-proxy/{{ document_link.url }}"
            width="100%" 
            height="800px"
            frameborder="0">
        </iframe>
    </div>

    {% sources state document_link.url %}

</section>

{% endblock %}
