{% extends "../components/base.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}Find Your Legislators - Open States{% endblock %}
{% block scripts %}
    <script src="{% static "bundles/fyl.js" %}"></script>
{% endblock %}

{% block content %}
<section class="section">

    <h1 class="heading--large">Find Your Legislators</h1>
    <hr>
    <div data-hook="find-your-legislator" data-address="{{ address|default:'' }}"></div>
    <noscript>This page requires JavaScript enabled.</noscript>

</section>
{% endblock %}
