{% extends "../components/base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Open States: discover politics in your state and Congress{% endblock %}

{% block content %}

<section class="section" id="homepage-section">
    <div class="homepage-hero">
        <h1 class="heading--large">Discover Legislative Policy {% if state == 'us' %}in Congress{% else %}in Your State{% endif %}</h1>
        <p class="heading--small">Track bills, review upcoming legislation, and see how your representatives are voting.</p>
        <p class="heading--small">Open States is the leading source for truly open data on policy-making process and legislation.</p>

        <!-- <div class="site-alert"> </div> -->

    </div>

    <div class="homepage-grid">
        <div class="text-center">
          <h2 class="heading--medium">Search {{ state|state_name }} Bills</h2>
          <img src="{% static "images/nounproject/political_2003975.svg" %}">
          <p>
            Find out which bills are being introduced and follow bills about topics you care about. 
          </p>
          <form method="POST" action="{% url 'state_search' state %}">
          {% csrf_token %}
              <div class="input-group">
                  <input class="input-group-field" type="search" placeholder="SB 46, Healthcare, etc." name="query">
                  <div class="input-group-button">
                      <input type="submit" class="button button--primary" value="Search">
                  </div>
              </div>
          </form>
        </div>

        <div class="text-center">
            <h2 class="heading--medium">Find Your Legislators</h2>
            <img src="{% static "images/nounproject/people_2911761.svg" %}">
            <p>
                Legislators write, debate, and vote on bills. Your legislators represent you and your interests.
            </p>
            <form action="{% url 'find_your_legislator' state %}">
                <div class="input-group">
                    <input class="input-group-field" type="search" placeholder="Enter Address" name="address">
                    <div class="input-group-button">
                        <input type="submit" class="button button--primary" value="Search">
                    </div>
                </div>
            </form>
        </div>

        <div class="text-center">
            <hr>
            <h2 class="heading--medium">Explore Committee Data</h2>
            <img height="150" src="{% static "images/nounproject/organization-7840994.svg" %}">
            <p style="margin-top: 1rem">
                Information on committee topics and membership for all legislative committees {% if state == 'us' %}in Congress{% else %}in your state{% endif %}.
            </p>
            <a href="{% url 'committees' state %}" class="button button--primary">Go to Committees</a>
        </div>

        <div class="text-center">
            <hr>
            <h2 class="heading--medium">Resources</h2>
            <img height="150" src="{% static "images/nounproject/news-822273.svg" %}">
            <p style="margin-top: 1rem;">
                Learn about the policy process and how you can have a say in which bills become law. 
            </p>
            <a href="/resources/" class="button button--primary">Go to Resources</a>
        </div>
    </div>

</section>
{% endblock %}
