{% extends "../components/base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Open States: discover politics in your state and Congress{% endblock %}

{% block content %}

<section class="section" id="homepage-section">
    <div class="homepage-hero">
        <h1 class="heading--large">Discover Legislative Policy {% if state == 'us' %}in Congress{% else %}in Your State{% endif %}</h1>
        <p class="heading--small">Track bills, review upcoming legislation, and see how your representatives are voting.</p>
        <p class="heading--small">Open States is the leading source for truly open data on policy-making process and legislation.</p>

        <!-- <div class="site-alert"> </div> -->

    </div>

 <div class="homepage-grid">
        <div class="text-center" style="width:100%">
          <h2 class="heading--medium">Search &amp; Track Bills</h2>
          <img src="{% static "images/nounproject/political_2003975.svg" %}">
          <form method="POST" action="{% url 'state_search' state %}">
          {% csrf_token %}
              <div class="input-group" style="width:100%">
                  <input class="input-group-field" type="search" placeholder="SB 46, Healthcare, etc." name="query">
                  <div class="input-group-button">
                      <input type="submit" class="button button--primary" value="Search">
                  </div>
              </div>
          </form>
        </div>

        <div class="text-center" style="width:100%">
            <h2 class="heading--medium">Find Your Legislators</h2>
            <img src="{% static "images/nounproject/people_2911761.svg" %}">
            <form method="POST" action="{% url 'find_your_legislator' state %}">
            {% csrf_token %}
                <div class="input-group" style="width:100%">
                    <input class="input-group-field" type="search" placeholder="Enter Address" name="address">
                    <div class="input-group-button">
                        <input type="submit" class="button button--primary" value="Search">
                    </div>
                </div>
            </form>
        </div>

        <div class="text-center">
            <hr>
            <h2 class="heading--medium">Explore Committee Data</h2>
            <img height="150" src="{% static "images/nounproject/organization-7840994.svg" %}">
            <br>
            <a href="{% url 'committees' state %}" class="button button--primary">Go to Committees</a>
        </div>

        <div class="text-center">
            <hr>
            <h2 class="heading--medium">Resources</h2>
            <img height="150" src="{% static "images/nounproject/news-822273.svg" %}">
            <br>
            <p>What is a bill? What can my legislator do for me? <a href="/resources/">Learn about policy and how you can have a say</a> in which bills become law.</p>
        </div>
    </div>

</section>
{% endblock %}
