{% extends "../components/base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Open States: discover politics in your state and Congress{% endblock %}

{% block content %}

<section class="section" id="homepage-section">
    <div class="homepage-hero">
        <div style="padding: .75rem 1.25rem; border: 1px solid #ffeeba; background-color: #fff3cd; margin-bottom: 1rem;">
            Open States is now Plural! The Open States website is now available at open.pluralpolicy.com.<br>
            You are welcome to continue using these tools while we prepare a migration process to help you adopt our new tools.<br>
            You can try out an account using those new and improved tools now, at https://pluralpolicy.com/get-started/.
        </div>
        <h1 class="heading--large">Discover Politics In Your State and Congress</h1>
        <p class="heading--small">Track bills, review upcoming legislation, and see how your local and federal representatives are voting.</p>
        <p class="heading--small">Open States is the leading source for truly open data on policy-making process and legislation.</p>

        <!-- <div class="site-alert"> </div> -->

    </div>

    <div class="homepage-grid">
        <div class="text-center">
          <h2 class="heading--medium">Search &amp; Track Legislation</h2>
          <img src="{% static "images/nounproject/political_2003975.svg" %}">
          <p>
            Find out which bills are being proposed in the legislature and follow bills about topics you care about. 
          </p>
          <form action="/search/">
              <div class="input-group">
                  <input class="input-group-field" type="search" placeholder="Coronavirus, Transportation, etc." name="query">
                  <div class="input-group-button">
                      <input type="submit" class="button button--primary" value="Search">
                  </div>
              </div>
          </form>
        </div>

        <div class="text-center">
            <h2 class="heading--medium">Find Your Legislators</h2>
            <img src="{% static "images/nounproject/people_2911761.svg" %}">
            <p>
                Legislators write, debate, and vote on bills. Your legislators represent you and your interests.
            </p>
            <form action="/us/find_your_legislator/">
                <div class="input-group">
                    <input class="input-group-field" type="search" placeholder="Enter Address" name="address">
                    <div class="input-group-button">
                        <input type="submit" class="button button--primary" value="Search">
                    </div>
                </div>
            </form>
        </div>

        <div class="text-center">
            <hr>
            <h2 class="heading--medium">Explore Committee Data</h2>
            <img height="150" src="{% static "images/nounproject/data_2921737.svg" %}">
            <p style="margin-top: 1rem">
                Detailed information on committee topics and membership for all bill committees in your state. 
            </p>
            <input type="submit" class="button button--primary" value="Go to Committees">
        </div>

        <div class="text-center">
            <hr>
            <h2 class="heading--medium">Resources</h2>
            <img height="150" src="{% static "images/nounproject/news_750649.svg" %}">
            <p style="margin-top: 1rem;">
                What is a bill? What can my legislator do for me? How can I have a say in which bills become law? Find out here!
            </p>
            <input type="submit" class="button button--primary" value="Go to Resources">
        </div>
    </div>

</section>
{% endblock %}
