.document-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding-right: 20px;
}

.back-to-bill-button {
    margin-left: auto; 
    align-self: center; 
    margin-top: 4px;
}

.document-wrapper {
    position: relative;
    width: 100%;
    height: 800px;
}

.pdf-viewer,
.image-viewer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.image-viewer {
    display: none; 
    flex-direction: column;
    overflow: hidden;
}

.error-state {
    width: 100%;
    height: 800px;
    display: none;
}