.state-overview-people {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;

    @include breakpoint(small down) {
        grid-template-columns: auto;
    }
}

.state-overview-chambers {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.state-overview-title {
    display: block;
}

